<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="home" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



  <ion-content fullscreen class="ion-padding">
<ion-button expand="block" shape="flat" (click)="volunteer()">Volunteer</ion-button>
  <ion-button expand="block" shape="flat" (click)="dod()">Doctor on demand</ion-button>
  <ion-button expand="block" shape="flat" (click)="quarantined()">Quarantined</ion-button>
</ion-content>
