<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
 
  <ion-radio-group allow-empty-selection value="anchovies">
    <ion-list-header>
      <ion-label>Please select</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Volunteer</ion-label>
      <ion-radio slot="end" color="primary" value="Volunteer"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Doctor on demand</ion-label>
      <ion-radio slot="end" color="secondary" value="Doctor on demand"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Quarantined</ion-label>
      <ion-radio slot="end" color="tertiary" value="Quarantined"></ion-radio>
    </ion-item>
  </ion-radio-group>
  
</ion-list>

<ion-content>

</ion-content>
